.checkout-order {
  border: 2px solid rgb(187, 187, 187);
  box-shadow: 0 1px 3px rgb(192 192 192);
  display: flex;
  flex-direction: column;
  height: 80vh;
  margin: 0 5%;
}

.checkout-order > .total-container {
  background-color: #036b52;
  border-radius: 5px;
  color: white;
  display: flex;
  font-weight: 600;
  justify-content: center;
  margin: auto 20px 20px auto;
  padding: 10px;
  width: 130px;
}

.checkout-order > .statusbar {
  background-color: #eaf1ef;
  display: flex;
  gap: 10px;
  padding: 10px 20px;
}

.statusbar > .order {
  font-size: 20px;
  font-weight: 700;
}

.statusbar > .date {
  background-color: #f0fbf9;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  height: 30px;
  margin-left: auto;
  padding: 0 10px;
}

.statusbar > .seller {
  font-size: 20px;
  height: 30px;
}

.statusbar > .status {
  background-color: #3bd5b0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  height: 30px;
  padding: 0 10px;
  text-align: center;
  width: 150px;
}

.statusbar > button {
  background-color: #036b52;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  height: 30px;
  padding: 0 10px;
}
